h2 {
  font-size: 100px;
  position: absolute;
  color: white;
}

form {
  display: flex;
  align-items: center;
}

body {
  display: initial;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  position: absolute;
}

h3 {
  font-size: 40px;
  margin: 0;
  position: absolute;
  color: white;
  top: 270px;
  margin-left: 24px;
}

@media screen and (max-width: 40vw) {
  h3 {
    display: none;
  }
}

/* Style for the bid class */
.bid {
  margin-bottom: 20px;
}

/* Style for the bidlist class */
.bidlist {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  width: fit-content;
  overflow: auto;
}

/* Style for the column names */
.column {
  display: inline-block;
  width: 120px; /* Adjust as needed */
  font-weight: bold;
}

/* Style for the details */
.details {
  display: flex;
}

/* Style for each column */
.details .column {
  flex: 1;
}

.xyz {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.xyz p {
  margin-left: 3px;
}
