h2 {
  font-size: 100px;
  position: absolute;
  color: white;
}

form {
  display: flex;
  align-items: center;
}

body {
  display: initial;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  position: absolute;
}

h3 {
  font-size: 40px;
  margin: 0;
  position: absolute;
  color: white;
  top: 270px;
  margin-left: 24px;
}

@media screen and (max-width: 40vw) {
  h3 {
    display: none;
  }
}
